Global-solution-done.json
[
    {
        "id": "ece955d9908bcaaf",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6515bdd067155aef",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/28a502f7-ecb7-4e2e-82ca-7023a7cc17d6",
        "assistant_id": "f894b5da-734a-4805-b5fe-fa1b399a248d",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 970,
        "y": 200,
        "wires": [
            [
                "a60113cb24c5d089",
                "c32ce94252ae38e8"
            ]
        ]
    },
    {
        "id": "7cf28e86cfee8923",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "8adddfcad67c1f82"
            ],
            [
                "df6984bf9c6d197a"
            ]
        ]
    },
    {
        "id": "47b461c67477b2d9",
        "type": "telegram receiver",
        "z": "ece955d9908bcaaf",
        "name": "",
        "bot": "998fe8befd700406",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "7cf28e86cfee8923"
            ],
            []
        ]
    },
    {
        "id": "0cf79f51ed96c021",
        "type": "telegram sender",
        "z": "ece955d9908bcaaf",
        "name": "",
        "bot": "998fe8befd700406",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8adddfcad67c1f82",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcIN Texto",
        "func": "msg.params={\n    'session_id':msg.payload.chatId\n}\nmsg.payload=msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "225e777e6f0c9ce3"
            ]
        ]
    },
    {
        "id": "d05ac2256020a2c8",
        "type": "watson-translator",
        "z": "ece955d9908bcaaf",
        "name": "en2pt",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "_q5XXuUvduLMj9zhX3de--dqUOndbuRQkDpuVn9_E9pn",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-east.language-translator.watson.cloud.ibm.com/instances/13313cc3-ea1e-4636-876b-241db8163b6b",
        "x": 910,
        "y": 80,
        "wires": [
            [
                "35f4c788019a686c"
            ]
        ]
    },
    {
        "id": "225e777e6f0c9ce3",
        "type": "watson-language-translator-identify",
        "z": "ece955d9908bcaaf",
        "name": "",
        "service-endpoint": "https://api.us-east.language-translator.watson.cloud.ibm.com/instances/13313cc3-ea1e-4636-876b-241db8163b6b",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "8c269e8c3390cdfb"
            ]
        ]
    },
    {
        "id": "8c269e8c3390cdfb",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "en",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "d05ac2256020a2c8"
            ],
            [
                "6515bdd067155aef"
            ]
        ]
    },
    {
        "id": "374f4c5a613b3d0d",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcOUT Texto",
        "func": "msg.payload={\n    'chatId':msg.params.session_id,\n    'content':msg.payload,\n    'type':'message'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 200,
        "wires": [
            [
                "0cf79f51ed96c021"
            ]
        ]
    },
    {
        "id": "df6984bf9c6d197a",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcIN Audio",
        "func": "msg.params={\n    'session_id':msg.payload.chatId\n}\nmsg.payload=msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "64726d55faa405c2",
                "0395beaacc5a952c"
            ]
        ]
    },
    {
        "id": "0395beaacc5a952c",
        "type": "watson-speech-to-text",
        "z": "ece955d9908bcaaf",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ekbL_95Yi3fPHS3qV85zMe6ipT_JzD4pM56GevRG6blo",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/957101ae-0bf1-4981-9933-303d041732bb",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "acefe6873a549689",
                "c4b99023bdb5d0fe"
            ]
        ]
    },
    {
        "id": "64726d55faa405c2",
        "type": "watson-speech-to-text",
        "z": "ece955d9908bcaaf",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ekbL_95Yi3fPHS3qV85zMe6ipT_JzD4pM56GevRG6blo",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/957101ae-0bf1-4981-9933-303d041732bb",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "1a480c470ebe80dd",
                "a3b007190e128800"
            ]
        ]
    },
    {
        "id": "7a9c677547cb5cac",
        "type": "watson-translator",
        "z": "ece955d9908bcaaf",
        "name": "en2pt",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "_q5XXuUvduLMj9zhX3de--dqUOndbuRQkDpuVn9_E9pn",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-east.language-translator.watson.cloud.ibm.com/instances/13313cc3-ea1e-4636-876b-241db8163b6b",
        "credentials": {},
        "x": 810,
        "y": 520,
        "wires": [
            [
                "d2b12bfacdd91a7c"
            ]
        ]
    },
    {
        "id": "3505362d5cb491ad",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/28a502f7-ecb7-4e2e-82ca-7023a7cc17d6",
        "assistant_id": "f894b5da-734a-4805-b5fe-fa1b399a248d",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "7dbfeebc329ab4c2"
            ]
        ]
    },
    {
        "id": "7dbfeebc329ab4c2",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 320,
        "wires": [
            [
                "e0d859e47d4172bc"
            ]
        ]
    },
    {
        "id": "e0d859e47d4172bc",
        "type": "watson-text-to-speech",
        "z": "ece955d9908bcaaf",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "4cw19oUFNmcG6Lp0Q9kcNMUtbIyQiwFSqkwA3XXZQOeT",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/9404fea1-9d78-47ec-9a49-6b2baf401116",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "5842ec9d22b702d4"
            ]
        ]
    },
    {
        "id": "5842ec9d22b702d4",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcOUT Audio",
        "func": "msg.payload={\n    'chatId':msg.params.session_id,\n    'content':msg.payload,\n    'type':'voice'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "0cf79f51ed96c021"
            ]
        ]
    },
    {
        "id": "7dead1c0392437c6",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "9def419b13459642"
            ]
        ]
    },
    {
        "id": "9def419b13459642",
        "type": "watson-translator",
        "z": "ece955d9908bcaaf",
        "name": "pt2en",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "_q5XXuUvduLMj9zhX3de--dqUOndbuRQkDpuVn9_E9pn",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-east.language-translator.watson.cloud.ibm.com/instances/13313cc3-ea1e-4636-876b-241db8163b6b",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "9ea4621dd1252f8c"
            ]
        ]
    },
    {
        "id": "9ea4621dd1252f8c",
        "type": "watson-text-to-speech",
        "z": "ece955d9908bcaaf",
        "name": "TTS",
        "lang": "en-GB",
        "langhidden": "en-GB",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-GB_KateV3Voice",
        "voicehidden": "en-GB_KateV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "4cw19oUFNmcG6Lp0Q9kcNMUtbIyQiwFSqkwA3XXZQOeT",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/9404fea1-9d78-47ec-9a49-6b2baf401116",
        "x": 1150,
        "y": 420,
        "wires": [
            [
                "5842ec9d22b702d4"
            ]
        ]
    },
    {
        "id": "2438a98ff046c327",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "b52416b5a7e72f0d"
            ]
        ]
    },
    {
        "id": "a60113cb24c5d089",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "374f4c5a613b3d0d"
            ]
        ]
    },
    {
        "id": "b52416b5a7e72f0d",
        "type": "watson-translator",
        "z": "ece955d9908bcaaf",
        "name": "pt2en",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "_q5XXuUvduLMj9zhX3de--dqUOndbuRQkDpuVn9_E9pn",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-east.language-translator.watson.cloud.ibm.com/instances/13313cc3-ea1e-4636-876b-241db8163b6b",
        "credentials": {},
        "x": 1390,
        "y": 80,
        "wires": [
            [
                "374f4c5a613b3d0d"
            ]
        ]
    },
    {
        "id": "1a480c470ebe80dd",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "fullresult.results[0].alternatives[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "3505362d5cb491ad"
            ]
        ]
    },
    {
        "id": "acefe6873a549689",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "fullresult.results[0].alternatives[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "7a9c677547cb5cac"
            ]
        ]
    },
    {
        "id": "a3b007190e128800",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fullresult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4b99023bdb5d0fe",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fullresult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "c32ce94252ae38e8",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "4c8fa776156bb631",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 20,
        "wires": []
    },
    {
        "id": "d2b12bfacdd91a7c",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/28a502f7-ecb7-4e2e-82ca-7023a7cc17d6",
        "assistant_id": "f894b5da-734a-4805-b5fe-fa1b399a248d",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "credentials": {},
        "x": 950,
        "y": 520,
        "wires": [
            [
                "7dead1c0392437c6"
            ]
        ]
    },
    {
        "id": "35f4c788019a686c",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/28a502f7-ecb7-4e2e-82ca-7023a7cc17d6",
        "assistant_id": "f894b5da-734a-4805-b5fe-fa1b399a248d",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "2438a98ff046c327",
                "4c8fa776156bb631"
            ]
        ]
    },
    {
        "id": "998fe8befd700406",
        "type": "telegram bot",
        "botname": "rozyar_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]